$background: #24070c;
$foreground: #bc838a;
$color0: #24070c;
$color1: #65394C;
$color2: #533762;
$color3: #623F60;
$color4: #6A4053;
$color5: #5F4263;
$color6: #83151F;
$color7: #bc838a;
$color8: #835b60;
$color9: #65394C;
$color10: #533762;
$color11: #623F60;
$color12: #6A4053;
$color13: #5F4263;
$color14: #83151F;
$color15: #bc838a;
