@import 'colors';
@import 'colorblocks';

* {
    margin:0;
    padding:0;
}


/* Fonts and colors */
body {
    font-family: sans-serif;
    color:$foreground;
}

h1, h2, h3, h4, h5, h6 {
    color:$color1;
}

h1 {
    font-size:3em;
}

p {
    font-size:1em;
    line-height:1.5em;
}

a {
    color: $color4;
    text-decoration:none;
    font-weight:bold;
}

a:hover {
    color: $color3;
}

#color-blocks {
    display:flex;
    justify-content: space-between;
    margin-top: 15px;
    padding-bottom: 15px;
    background: linear-gradient(90deg, $color0 6.25%, $color1 18.75%, $color2 31.25%, $color3 43.75%, $color4 56.25%, $color5 68.75%, $color6 81.25%, $color7 91.75%);
    > div {
        flex-grow: 1;
        height:20px;
    }
}
/* Base Layout */
body {
    height:100vh;
    width:100vw;
    overflow:hidden;
}

#wrapper {
    height:100%;
    margin: 0 auto;
    overflow-y: auto;
    > div {
        max-width:1024px;
        background-color:rgba($background, 0.9);
        margin:25px auto;
        padding:15px;
        border-radius:0px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.9); 
    }
}

/* Background */
#bg {
    position:fixed;
    width:100vw;
    height:100vh;
    z-index:-1;
    background-color:$color3;
    background-image: url('../img/bg/shit.jpg');
    background-size: cover;
    background-position: 50% 50%;
    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        opacity: 0;
        transition: opacity 3s linear;
    }
    img.loaded {
        opacity: 1.0;
    }
}

#self-hosted {
    /* 
        Links to self hosted services 
    
        (•_•)
        <)  )╯Always
        /    \
    
        \(•_•)
         (  (>  Own
        /    \
    
        (•_•)
        <)  )>  Your Platform
        /    \
    
    */
    display:flex;
    flex-flow:row wrap;
    justify-content: space-evenly;

    .link {
        flex:none;
        width:100px;
        height:100px;
        margin: 10px;
        border-radius:50%;
        overflow:hidden;
        position:relative;
        cursor: pointer;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;

        a {
            display:inline-block;
            width:100%;
            height:100%;
            color:$foreground;
        }
        img {
            width:100px;
            height:100px;
        }
        span {
            width:calc(100% - 6px);
            padding:3px;
            position:absolute;
            text-align:center;
            display:inline-block;
            top: calc(50% - 12px);
            background:rgba($color1, 0.9);
            transition: opacity .2s linear;
            opacity:0;
        }
    }
    .link:hover {
        span {
            opacity:1;
        }
    }
}


#stati {
    /* Server statusses... stati? */
    display:flex;
    flex-flow:row;
    justify-content: space-between;
    position:relative;

    .refresh {
        position:absolute;
        bottom: 10px;
        left: 10px;
        flex:none;
        width:100%;
        font-size:2em;
        line-height:1;
        cursor:pointer;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
    }
    .server {
        flex:1 1 auto;
        margin: 0 10px;

        .status { 
            /* the middle stati */
            display:flex;
            color:$foreground;
            margin-left: 2em;
            padding: 6px 10px;
            height:17px;
            line-height:1;
            border-color: $foreground;
            border-width: 2px;
            border-left-style: solid;
            border-right-style: solid;
            .icon {
                flex:none;
                font-weight:bold;
                /*width:17px;
                height:17px;
                font-size:20px;
                line-height:1;
                border-radius:50%;
                position: relative;
                transform-origin: 50%; */
                margin-right: 5px;
            }
            .icon::after {
                font-weight:bold;
            }
        }
        .status:not(.up):not(.down) { 
            .icon::after {
                /* Schrödingers status */
                content: '?';
            }
        }
        .status.up {
            color:$color6;
        }
        .status.down {
            color:$color2;
        }
        .status:first-child {
            margin-left: 0;
            border-top-left-radius:15px;
            border-bottom-left-radius:15px;
            border-top-right-radius:15px;
            border-style: solid;
        }
        .status:last-child {
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            border-bottom-style:solid;
        } 
        .status.up > .icon::after {
            content: '✓';
        }
        .status.down > .icon::after {
            content: '✘';
        }
    }
}

@media (max-width:1048px) {
    #wrapper > div {
        margin: 15px 12px;
    }
}

@media (max-width:720px) {

    #self-hosted > div > span, #self-hosted > div > a > span {
        opacity:1;
    }

    #wrapper > #stati {
        flex-wrap: wrap;
    }

    #wrapper > #stati > .server {
        max-width:100%;
        width:100%;
        margin: 10px 0;
    }
}