* {
    margin:0;
    padding:0;
}

body {
    font-family: sans-serif;
    height:100vh;
    width:100vw;
    color:white;
    overflow:hidden;
}

/* Fonts and colors */
h1 {
    font-size:3em;
}

p {
    font-size:1em;
    line-height:1.1;
}

/* Base Layout */
#wrapper {
    max-width:960px;
    height:100%;
    margin: 0 auto;
    overflow-y: auto;
}

#wrapper > div {
    background:rgba(8, 8, 8, 0.9);
    margin:25px 0;
    padding:15px;
    border-radius:15px;
}

/* Background */
#bg {
    position:fixed;
    width:100vw;
    height:100vh;
    z-index:-1;
    background-image: url('img/bg/shit.jpg');
    background-size: cover;
    background-color:black;
}

#bg img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
    opacity: 0;
    transition: opacity 3s linear;
}

#bg img.loaded {
    opacity: 1.0;
}
/* Header */

#wrapper > #header {

}

#header h1 {
    text-align:center;
}

/* 
    Links to self hosted services 

    (•_•)
    <)  )╯Always
    /    \

    \(•_•)
     (  (>  Own
    /    \

    (•_•)
    <)  )>  Your Platform
    /    \

*/

#self-hosted {
    display:flex;
    flex-flow:row wrap;
    justify-content: space-evenly;
}

#self-hosted > div {
    flex:none;
    width:100px;
    height:100px;
    margin: 10px;
    border-radius:50%;
    overflow:hidden;
    position:relative;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#self-hosted > div > a {
    display:inline-block;
    width:100%;
    height:100%;
    color:white;
}

#self-hosted > div > img, #self-hosted > div > a > img, #self-hosted > div > a > object {
    width:100px;
    height:100px;
}

#self-hosted > div > span, #self-hosted > div > a > span {
    width:calc(100% - 6px);
    padding:3px;
    position:absolute;
    text-align:center;
    display:inline-block;
    top: 50%;
    background:rgba(37, 37, 37, 0.9);
    transition: opacity .2s linear;
    opacity:0;
}

#self-hosted > div:hover > span, #self-hosted > div:hover > a > span {
    opacity:1;
}


/* Server statusses... stati? */
#wrapper > #stati {
    display:flex;
    flex-flow:row;
    justify-content: space-between;
    position:relative;
}

#stati > .refresh {
    position:absolute;
    bottom: 10px;
    left: 10px;
    flex:none;
    width:100%;
    font-size:2em;
    line-height:1;
    cursor:pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#stati > .server {
    flex:1 1 auto;
    margin: 0 10px;
}

/* The middle stati */
#stati > .server > .status {
    display:flex;
    color:white;
    margin-left: 2em;
    padding: 6px 10px;
    height:17px;
    line-height:1;
    border-color: white;
    border-width: 2px;
    border-left-style: solid;
    border-right-style: solid;
}

#stati > .server > .status:first-child {
    margin-left: 0;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
    border-top-right-radius:15px;
    border-style: solid;
    color:white;

}

#stati > .server > .status:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-style:solid;
} 


/* Status icon with animation */
#stati > .server > .status > .icon {
    flex:none;
    width:17px;
    height:17px;
    font-size:20px;
    line-height:1;
    border-radius:50%;
    position: relative;
    transform-origin: 50%;
    margin-right: 5px;
}

#stati > .server > .status:not(.up):not(.down) > .icon {
    background:grey;
    animation: loading 1s linear infinite;
}
@keyframes loading {
    from {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.3, 1.3);
    }
    to {
        transform: scale(1.0);
    }
}

#stati > .server > .status.up > .icon {
    background: green;
}

#stati > .server > .status.down > .icon {
    background: red;
}

@media (max-width:720px) {
    #wrapper {
        width:100%;
        margin: 0;
    }

    #wrapper > #stati {
        flex-wrap: wrap;
    }

    #wrapper > #stati > .server {
        max-width:100%;
        width:100%;
        margin: 10px 0;
    }
}